html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    touch-action: none;
}

#canvas {
    padding: 0;
    margin: 0;
    z-index: -1;
}
#score{
    background-image: url("../IMG/Counter_NoNumber.png");
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    color: Black;
    font-weight: 900;
    margin-right: 1vw;
    margin-top: 1vw;
    height: 15vh;
    width: 15vh;
    display: flex-box;
    align-content: center;
    text-align: center;
}
#score p{
    margin: auto;
    margin-top: 3vh;
    width: 60%;
    padding: 10px;
    font-size: large;
    color: red;
}
#popUp{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

#overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 18px;
    text-transform: uppercase;
    cursor: pointer;
}